.button {
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #6ced72;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #00ff0c;
  }
}

.button--icon {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: $background-item;
  border-radius: 10px;
  border: 1px solid;
  transition: color 0.3s, background-color ease-in-out;

  &::before {
    transition: font-size 0.1s ease-in-out;
    font-size: 24px;
  }

  &:hover {
    cursor: pointer;
    color: $shop-style-blue;
    background-color: #fff;
  }
}

.fa-plus-square {
  &:active {
    &::before {
      font-size: 20px;
    }
  }

  &:hover {
    &::before {
      display: block;
      animation: rotate-icon 0.3s;
    }
  }

  @keyframes rotate-icon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
}

.fa-heart {
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.1;

  &:active {
    &::before {
      font-size: 20px;
    }
  }

  &:hover {
    opacity: 1;
    &::before {
      animation: shaking-heard 0.5s;
    }
  }

  @keyframes shaking-heard {
    10% {
      font-size: 30px;
    }
    40% {
      font-size: 28px;
    }
    70% {
      font-size: 30px;
    }
    100% {
      font-size: 24px;
    }
  }
}

.fa-times {
  &:active {
    &::before {
      font-size: 20px;
    }
  }

  &:hover {
    &::before {
      display: block;
      animation: rotate-icon 0.3s ease-in-out;
    }
  }

  @keyframes rotate-icon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
}

.fa-check {
  color: #21d934;
  background-color: #fff;

  &:hover {
    color: #21d934;
    &::before {
      animation: font-size-anim 0.3s;
    }
  }

  @keyframes font-size-anim {
    0% {
      font-size: 20px;
    }
    100% {
      font-size: 24px;
    }
  }
}

.heart-active {
  color: #fe08f2;
  background-color: #fff;
  opacity: 1;

  &:hover {
    color: #fe08f2;
  }
}

.fa-backspace {
  width: 50px;
  &:hover {
    &::before {
      display: block;
      animation: translate-left 0.3s;
    }
  }

  @keyframes translate-left {
    0% {
      transform: translateX(0px);
    }
    70% {
      transform: translateX(-9px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.fa-cart-plus {
  margin-right: 10px;
}

.fa-user-circle {
  margin-left: 10px;
}

.fa-gratipay,
.fa-user-circle,
.fa-cart-plus,
.fa-backspace {
  &:active {
    &::before {
      font-size: 20px;
    }
  }
}
