@import '../variables.scss';

.drawer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  padding: 20px 30px;
  transform: translateX(750px);
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #c2b0e2;
  border-left: 5px solid $shop-style;
  border-radius: 0 10px 10px 0;
  z-index: 1;
  

  &.open-drawer {
    transform: translateX(0px);
    animation: open-cart 0.6s ease-in-out;

    @keyframes open-cart {
      0% {
        transform: translateX(750px);
      }
      50% {
        transform: translateX(-100px);
      }
      100% {
        transform: translateX(0px);
      }
    }
  }

  &.close-drawer {
    animation: close-cart 0.6s ease-in-out;
    transform: translateX(750px);
    @keyframes close-cart {
      0% {
        transform: translateX(0px);
      }
      50% {
        transform: translateX(-100px);
      }
      100% {
        transform: translateX(750px);
      }
    }
  }

  &__block {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .drawer--items {
    max-height: 66vh;
    overflow: auto;
    padding: 5px 0 0 0;
    margin-bottom: 20px;
  }

  .drawer--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: $background-item;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 1px 10px 10px 2px rgba(34, 60, 80, 0.2);
      transform: translateY(-2%);
    }

    .wrapper--img {
      border-radius: 5px;
      overflow: hidden;
      width: 146px;
      height: auto;
      margin-right: 10px;
    }

    .item__block--right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;
      background-color: #fff;
      min-height: 145px;
      padding: 0 5px;
      border-radius: 5px;
    }

    .item--price {
      padding: 0 5px;
    }
  }

  .drawer__block--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .drawer__block--bottom {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
  }
}

.remove__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  .image__remove {
    padding: 44px;
    width: 250px;
    height: 250px;
    background-color: #673ab7;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    max-width: 350px;
  }
}
