@import '../variables.scss';

.modal--items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

  color: #fff;
  width: 100%;
  margin-right: 0px;
  margin-top: 20px;
  padding: 20px 0 0;
}

.modal--item {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 0;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  background-color: $shop-style-blurred;
  z-index: 20;
  @media (min-width: 580px) {
    justify-content: space-between;
    width: 1200px;
    padding: 20px;
  }

  &.open {
    animation: open-modal 0.6s;
    transform: translateX(0px);
    @keyframes open-modal {
      0% {
        transform: translateX(1700px);
      }
      70% {
        transform: translateX(-300px);
      }
      100% {
        transform: translateX(0px);
      }
    }
  }

  &.close {
    position: absolute;
    height: 100vh;
    bottom: 0;
    animation: close-modal 0.9s;
    transform: translateX(1700px);
    @keyframes close-modal {
      0% {
        position: fixed;
        transform: translateX(0px);
      }
      40% {
        position: fixed;
        transform: translateX(-300px);
      }
      80% {
        position: fixed;
        transform: translateX(1700px);
      }
      100% {
        position: absolute;
        transform: translateX(1700px);
      }
    }
  }

  .modal--content-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    @media (min-width: 580px) {
      align-items: inherit;
      justify-content: space-between;
      flex-direction: row;
      margin-top: 0px;
    }
  }

  .modal__content--bottom {
    display: none;
    background-color: $shop-style;
    padding: 10px;
    border-radius: 10px;
    @media (min-width: 580px) {
      display: flex;
      padding: 20px;
    }

    .modal__item--description {
      padding: 5px;
      background-color: #fff;
      border-radius: 10px;

      h3 {
        color: #111;
      }

      p {
        font-size: 14px;
        color: #111;
        @media (min-width: 580px) {
          font-size: 18px;
        }
      }
    }
  }
  .modal__content--bottom.active--item {
    display: flex;
  }

  .modal__item--left {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: $shop-style;
    margin-bottom: 20px;
    @media (min-width: 580px) {
      display: flex;
      justify-content: start;
      flex-direction: column;
      padding: 20px;
      width: 360px;
      height: 530px;
      margin-bottom: 0px;
    }

    &--fullImage {
      @media (min-width: 580px) {
        position: absolute;
        top: -15px;
        left: -350px;
        z-index: 50;
        background: none;
        animation: start-animation-modal 0.9s ease-in-out;
        z-index: 29;
        @keyframes start-animation-modal {
          0% {
            left: 1000px;
          }
          60% {
            left: 0px;
          }
          100% {
            left: -350px;
          }
        }
      }

      .wrapper__images {
        box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
      }
    }

    .wrapper__images {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      overflow: hidden;
      margin: 5px;
      background-color: #fff;
      @media (min-width: 580px) {
        width: 150px;
        height: 150px;
        min-height: 150px;
      }

      img {
        animation: wrapper-image 1s;

        @keyframes wrapper-image {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }

      &:hover {
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 188, 212, 0.6);
          animation: animation-prizma 0.3s;

          @keyframes animation-prizma {
            0% {
              background-color: rgba(0, 188, 212, 0.1);
            }
            100% {
              background-color: rgba(0, 188, 212, 0.6);
            }
          }
        }
      }
    }

    .active {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 188, 212, 0.6);
      }
    }
  }

  .modal__item--left.active--item {
    display: flex;
    flex-direction: row;
  }

  .modal__item--center {
    display: none;
    background-color: $shop-style;
    padding: 10px 13px;
    width: 300px;
    border-radius: 10px;
    @media (min-width: 580px) {
      display: flex;
      flex-direction: column;
      padding: 20px 23px;
    }

    .modal__size {
      padding: 5px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 20px;

      h4 {
        font-size: 22px;
        padding: 5px;
      }
    }

    .modal__sizes--block {
      display: flex;
      flex-wrap: wrap;
      padding: 5px;

      span {
        text-align: center;
        min-width: 50px;
        padding: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        color: #fff;
        background-color: $shop-style;
        border-radius: 10px;
        transition: background-color 0.3s;

        &:hover {
          cursor: pointer;
          background-color: $shop-style-blue;
        }

        &:focus {
          background-color: $shop-style-blue;
        }
      }

      .size {
        background-color: $shop-style;
      }

      .this--size {
        background-color: $shop-style-blue;
      }
    }

    .modal__availability {
      display: flex;
      padding: 5px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 20px;

      span {
        position: relative;
        padding: 5px;
        font-size: 22px;

        svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -45px;
        }
      }

      .yeas--icon {
        svg {
          color: #23ff00;
        }
      }

      .no--icon {
        svg {
          color: #ff0505;
        }
      }
    }

    .modal__price {
      padding: 5px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 20px;

      span {
        font-size: 22px;
      }
    }

    .discount,
    .column {
      display: flex;
      flex-direction: column;
    }
    svg {
      font-size: 18px;
    }
  }

  .modal__item--center.active--item {
    display: flex;
    flex-direction: column;
  }

  .modal__item--right {
    display: none;
    flex-direction: column;
    background-color: $shop-style;
    padding: 10px 13px;
    border-radius: 10px;

    @media (min-width: 580px) {
      display: flex;
      flex-direction: column;
      height: 530px;
      padding: 20px 23px;
    }

    .wrapper__img {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;

      @media (min-width: 580px) {
        width: 400px;
        margin-bottom: 20px;
      }
    }

    .modal__item--name {
      display: none;
      width: 100%;
      padding: 5px;
      background-color: #fff;
      border-radius: 10px;
      @media (min-width: 580px) {
        display: block;
        width: 400px;
      }
    }

    h2 {
      color: #111;
    }
  }

  .modal__item--right.active--item {
    display: flex;
  }

  .wrapper__img.two {
    animation: image-op-two 0.3s;

    @keyframes image-op-two {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .wrapper__img.first {
    animation: image-op-first 0.3s;

    @keyframes image-op-first {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .wrapper__full--image {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 50px;
    height: 931px;
    width: 100%;
    margin: 0 auto;
    z-index: 30;
    animation: start-animation 0.3s;
    @keyframes start-animation {
      0% {
        transform: translateX(1000px);
      }
      100% {
        transform: translateX(0px);
      }
    }
    @media (min-width: 580px) {
      display: block;
    }
  }
}

.modal--icon--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
}

.faImage,
.faListAlt {
  margin-right: 20px;
}

.faAlignCenter,
.faImage,
.faListAlt {
  @media (min-width: 580px) {
    display: none;
  }
}
